.textBtnBack{
    margin-left: 5px;
    transition: 0.3s ease-in-out;
}

.textBtnBack:hover{
    margin-left: 15px;
}

.catBtn{
    width: 120px;
    height: 40px;
    padding: 6px 0;
    overflow-x: auto;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    border-radius: 6px;
    text-decoration: none;
    transition: .3s linear;
}

.catBtn:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.cardStyle{
    position: relative;
    transition: .4s ease;
}
.cardStyle:hover{
    transform: scale(.95);
    
}
.overlayBg{
    height:100%;
   width: 100%;
   position:absolute;
   background: linear-gradient(180deg, rgb(0, 0, 0) 20%,  rgba(255, 255, 255, 0.2) 100%);
   opacity: .3;
}
